name: rabbitmq-stack

services:
  rabbitmq:
    hostname: rabbitmq.docker.local
    container_name: rabbitmq
    image: rabbitmq:4-management
    ports:
      - "5671:5671"
      - "15672:15672"
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 5s
      timeout: 15s
      retries: 30

    networks:
      rabbitmq-network:
        aliases:
          - rabbitmq.docker.local
    volumes:
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ${DOCKER_LOCAL_CERT_PATH:-$HOME/Github/dev-certs/docker-local}/docker-local.crt:/etc/rabbitmq/certs/docker-local.crt:ro
      - ${DOCKER_LOCAL_CERT_PATH:-$HOME/Github/dev-certs/docker-local}/docker-local.key:/etc/rabbitmq/certs/docker-local.key:ro
      - vol_rabbitmq-lib:/var/lib/rabbitmq
      - vol_rabbitmq-logs:/var/log/rabbitmq

networks:
  rabbitmq-network:
    driver: bridge

volumes:
  vol_rabbitmq-lib:
  vol_rabbitmq-logs: